@font-face{font-family:'Bagel Fat One';font-style:normal;font-weight:400;font-display:swap;src:url('bagelfatone-full.ttf')}
@font-face{font-family:'Grandiflora One';font-style:normal;font-weight:400;font-display:swap;src:url('grandifloraone.ttf')}
@font-face{font-family:'Indie Flower';font-style:normal;font-weight:400;font-display:swap;src:url('indieflower.ttf')}
@font-face{font-family:'Just Another Hand';font-style:normal;font-weight:400;font-display:swap;src:url('justanotherhand.ttf')}
@font-face{font-family:'Rock 3D';font-style:normal;font-weight:400;font-display:swap;src:url('rock3d.ttf')}
@font-face{font-family:'Send Flowers';font-style:normal;font-weight:400;font-display:swap;src:url('sendflowers.ttf')}
